/node_modules
/__pycache__
/dist/*.js

/design/*
/static/*
!/static/*.png
!/static/*.jpg
!/static/*.gif

/src/*
!/src/background
!/src/content
!/src/notebook
!/src/popup
!/src/shared
!/src/vocabulary

/gulp/**/*.ts
/src/**/*.js

/server/*
!/server/family.txt
!/server/counter.py
!/server/family.py
!/server/cursor.py
!/server/server.py
!/server/razor.py
!/server/main.py

/**/*.test.*
!/**/*.test.ts

/**/test.*

/**/*.cmd
/**/*.pem
/**/*.ppk
/**/*.sh

/src/webdict

/**/*.md
!/**/README.md

dist.crx
