/node_modules
/__pycache__
/dist/*.js

/design/*
!/design/*.png
!/design/*.jpg
!/design/*.gif

/src/*
!/src/background
!/src/content
!/src/notebook
!/src/popup
!/src/shared
!/src/vocabulary

/src/**/*.js

/server/*
!/server/family.txt
!/server/family.py
!/server/cursor.py
!/server/server.py
!/server/razor.py
!/server/main.py

/**/*.test.*

/**/test.*

/**/*.d.md
/**/*.cmd
/**/*.pem
/**/*.ppk
/**/*.sh

dist.crx
