/node_modules
/__pycache__
/dist/*.js
/design

/.vscode/*
!/.vscode/settings.json

/src/*
!/src/background
!/src/content
!/src/notebook
!/src/popup
!/src/shared
!/src/vocabulary


/server/*
!/server/family.txt
!/server/family.py
!/server/cursor.py
!/server/server.py
!/server/razor.py
!/server/main.py

/**/test.py
/**/test.ts
/**/test.js

/**/*.d.md
/**/*.cmd
/**/*.pem
/**/*.ppk
/**/*.sh
