@import '../../conf/vars';
.switch-view {
  &-main {
    padding: 8px;
    display: flex;
    align-items: center;
    transition: 1.2s;
    &:hover {
      background: #eee;
    }
  }
  &-main+&-main {
    border-top: 1px solid #eee;
  }
  &-text {
    flex: auto;
    &-disabled {
      color: gray;
    }
  }
  &-slider {
    background-color: $main-color;
    position: relative;
    width: 40px;
    height: 20px;
    outline: none;
    border-radius: 10px;
    background: $main-color;
    cursor: pointer;
    transition: .3s;
    &::after {
      content: "";
      position: absolute;
      top: 2px;
      right: 2px;
      border-radius: 100%;
      transition: .3s;
      width: 16px;
      height: 16px;
      background-color: #fff;
    }
    &-disabled {
      background: #dcdfe6;
      &::after {
        right: 100%;
        margin-right: -18px;
      }
    }
  }
}